[run]
branch = False
omit = 
	# ignore typings and base class
	*/__init__.py
	malib/envs/smarts/*
	malib/envs/env.py
	malib/rollout/base_worker.py
	malib/evaluator/base_evaluator.py
	# ignore random policy, just for test
	malib/rl/random/*
	malib/utils/*
	# ignore cli
	malib/runner.py


[report]
skip_empty = True
omit =
	malib/envs/smarts/*
	malib/algorithm/imitation/*
	malib/settings.py
	malib/registration.py
	malib/backend/coordinator/light_server.py
	# deprecated
	malib/backend/datapool/data_array.py
	malib/algorithm/common/reward.py
	malib/utils/*
	malib/rpc/*

[html]
directory = cov_html
