language: python
python:
  - "3.8"
jobs:
  - name: "Python 3.8.0 on Xenial Linux"
    python: 3.8           # this works for Linux but is ignored on macOS or Windows
  # - name: "Python 3.8 on FreeBSD"
  #   os: freebsd
  #   language: python
  #   python: 3.8
  # - name: "Python 3.8 on macOS"
  #   os: osx
  #   osx_image: xcode11.2  # Python 3.7.4 running on macOS 10.14.4
  #   language: shell       # 'language: python' is an error on Travis CI macOS
  #   python: 3.8
install:
  - pip install -e .
  - pip install -e .[dev]
  - pip install git+https://github.com/oxwhirl/smac.git
  - AutoROM -y
script: make test