wrapt
ray==1.8.0
pettingzoo==1.13.1
grpcio-tools
protobuf3-to-dict
pickle5
torch
tensorboardX
tensorboard
readerwriterlock
nashpy==0.0.21
pymongo
psutil
pyecharts
open_spiel==1.0.2
supersuit==3.3.1
multi-agent-ale-py==0.1.11
autorom==0.4.2
colorlog==6.6.0
mujoco_py
hiredis==2.0.0
frozendict==2.3.0
black==22.3.0
pytest
sphinx
sphinx-rtd-theme
sphinxcontrib-apidoc
pytest-profiling
pytest-cov
pytest-mock
pytest-xdist