sphinx
sphinx-rtd-theme
sphinxcontrib-apidoc
wrapt
ray==1.13.0
pickle5
torch
tensorboardX
tensorboard
readerwriterlock
nashpy==0.0.21
psutil
pyecharts
open_spiel>=1.0.2
supersuit==3.3.1
multi-agent-ale-py==0.1.11
autorom==0.4.2
colorlog==6.6.0
mujoco_py
hiredis==2.0.0
frozendict==2.3.0
numba>=0.56.0
matplotlib>=3.5.3
gym==0.23.0
h5py==3.7.0
pygame==2.1.0
pettingzoo